.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 50%
    ),
    url(https://i.postimg.cc/ZnJ3RSch/Rectangle-6.png);
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  background-position: left center;
}

.sobre-nosotros-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.texto-nosotros {
  grid-column: 2 / 3;
  color: #fff;
}
