@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Folkard";
  src: url("/font/Folkard-Regular.ttf") format("truetype");
}

.title-wow {
  font-family: "Folkard", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  max-width: 1200px; /* Puedes ajustar el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
  padding: 16px; /* Agrega espaciado interno si es necesario */
}

body {
  height: 100vh;
}

#libre {
  color: #ff4e16;
  font-weight: bold;
}

.register-container {
  height: 78.6vh;
}
