@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Folkard";
  src: url("/font/Folkard-Regular.ttf") format("truetype");
}

.title-wow {
  font-family: "Folkard", sans-serif;
}
